.free_shipping {
  position: absolute;
  margin-top: 1450px;
}

.refund {
  position: absolute;
  margin-top: 1450px;
  margin-left: 350px;
}

.support_main {
  position: absolute;
  margin-top: 1450px;
  margin-left: 700px;
}

.main__support {
  margin-left: 200px;
}


.free_shipping_paragraph {
  color: #22262a;
  font-family: Poppins;
  font-size: 27px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 53px;
}

.refund_paragraph {
  color: #22262a;
  font-family: Poppins;
  font-size: 27px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 43px;
}

.support_paragraph {
  color: #22262a;
  font-family: Poppins;
  font-size: 27px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 33px;
}
