.main_card_basket_img{
    width: 140px;
    height: 95px;
    object-fit: contain;
}

.main_card_basket_content{
    display: flex;
}

.main_card_basket{
    display: flex;
    margin-top: 80px;
}

.main_card_basket_title{
    width: 550px;
}

.main_card_basket_content{
    margin-top: 100px;
    margin-left: 300px;
}

.main_card_basket_price{
    margin-left: 50px;
}

.main_card_basket_total_price{
    margin-right: 50px;
}

.main_card_basket_div{
    margin-left: 50px;
}
